name: 02-workflow-events

on: 
    push:
    pull_request:
    schedule:
        - cron: '*/5 * * * *'  # Runs every 5 minutes
    workflow_dispatch:

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: AShow the trigger
              run: echo "I have been triggered by a(push) ${{ github.event_name }} event."
